@import "tailwindcss";

:root {
  --font-heading: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
}


h1, h2, h3 {
  font-family: var(--font-heading);
}

body {
  font-family: var(--font-body);
}

